body
{
	margin: 0px auto 0px auto;

}
#main 
{
	
	margin: 0px auto 0px auto;
	/*background-color: pink;*/
	border: 1px solid black;
	display: inline
}
#header
{
	height:30px;
	padding: 20px;
	/*background-color: pink;*/
	border: 1px solid black
}
#header ul
{
	display: inline;
	list-style-type: none
}
#header ul li
{
	display:inline;
	padding: 10px;
	font-size: 20px
}
#side_bar
{
	padding-left: 40px;
	padding-top: 157px;
	height: 650px;
	width: 60px;
	background-color: pink;
	border: 1px solid black;
	float: left;
}
#content
{
	padding-left:20px;
	height: 507px;
	/*background-color: pink;*/
	border: 1px solid black;
	
}
.content_section
{
	
	background-color: white;
	height: 143px;
	margin: 2px;
	padding: 10px;
/*	border: 1px solid black*/
}
	
#aside
{
	float:right-top;
	display:inline;
	width: 270px;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}